<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Arewa | Ikebe Super Contest</title>
    <link rel="stylesheet" type="text/css" href="~/css/reset.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/imgareaselect-animated.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="all and (orientation: portrait)" type="text/css" href="~/css/portrait.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/js/dropzone.js"></script>
    <script src="~/js/jquery.flexi.js"></script>
    <script src="~/js/imgareaselect.pack.js"></script>
</head>
<body>
    <!-- PAGE WRAPPER -->
    <div id="page-wrapper">
        <header>
            <nav class="secondary">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li>
                        <a href="#">Contests</a>
                        <ul class="drop">
                            <li><a href="ikebe.html">Ikebe Super</a></li>
                            <li><a href="mean.html">Mean Look</a></li>
                            <li><a href="hair.html">Hair</a></li>
                            <li><a href="makeup.html">Makeup</a></li>
                            <li><a href="gele.html">Gele</a></li>
                        </ul>
                    </li>
                    <li><a href="past.html">Past Winners</a></li>
                    <li><a href="gist.html">Gist</a></li>
                </ul>
            </nav>
        </header>
        <!-- HEADER END -->
        <div id="content">
            <section class="vertical land">
                <img src="~/images/kim.jpg" alt="Ikebe">
                <div class="tape"><span>Ikebe Super Contest</span></div>
                <p>The Nigerian woman is curvy and full. She is slim and trim. She is not a one size fits all individual as she comes in different forms all unique and beautiful in its own way.</p>
                <div class="trivia">
                    <p>Contest Rules:</p>
                    <ul class="rules">
                        <li> Lorem Ipsum Dolor Sit Amet </li>
                        <li> Lorem Ipsum Dolor Sit Amet </li>
                        <li> Lorem Ipsum Dolor Sit Amet </li>
                        <li> Lorem Ipsum Dolor Sit Amet </li>
                        <li> Lorem Ipsum Dolor Sit Amet </li>
                    </ul>
                </div>
            </section>
            <section class="banner port">
                <div class="badge">
                    <img src="~/images/kim.jpg" alt="Ikebe">
                    <div class="tape"><span>Ikebe Super Contest</span></div>
                </div>
                <div class="usp">
                    <p>The Nigerian woman is curvy and full. She is slim and trim. She is not a one size fits all individual as she comes in different forms all unique and beautiful in its own way.</p>
                </div>
                <div class="trivia">
                    <p>Contest Rules:</p>
                    <ul class="rules">
                        <li> Lorem Ipsum Dolor Sit Amet </li>
                        <li> Lorem Ipsum Dolor Sit Amet </li>
                        <li> Lorem Ipsum Dolor Sit Amet </li>
                        <li> Lorem Ipsum Dolor Sit Amet </li>
                        <li> Lorem Ipsum Dolor Sit Amet </li>
                    </ul>
                </div>
            </section>
            <div id="slider-wrap">
                <ul id="isliders">
                    <li>
                        <div>
                            <a href="ikebe_user.html"><img src="~/images/slider1.jpg" alt="user1 | Click to View Profile" width="258" height="353"></a>
                            <ul class="counter clear"><li><p class="vote">Vote</p></li><li><p class="tally">1598</p></li></ul>
                            <ul class="social">
                                <li class="fb"><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li class="tw"><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li class="gp"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                            <p class="hot clear">Top</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="ikebe_user.html"><img src="~/images/slider2.jpg" alt="user1 | Click to View Profile" width="258" height="353"></a>
                            <ul class="counter clear"><li><p class="voted">Voted</p></li><li><p class="tally">1450</p></li></ul>
                            <ul class="social">
                                <li class="fb"><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li class="tw"><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li class="gp"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                            <p class="trend clear">Trending</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="ikebe_user.html"><img src="~/images/slider1.jpg" alt="user1 | Click to View Profile" width="258" height="353"></a>
                            <ul class="counter clear"><li><p class="vote">Vote</p></li><li><p class="tally">1598</p></li></ul>
                            <ul class="social">
                                <li class="fb"><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li class="tw"><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li class="gp"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                            <p class="hot clear">Top</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="ikebe_user.html"><img src="~/images/slider2.jpg" alt="user1 | Click to View Profile" width="258" height="353"></a>
                            <ul class="counter clear"><li><p class="voted">Voted</p></li><li><p class="tally">1450</p></li></ul>
                            <ul class="social">
                                <li class="fb"><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li class="tw"><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li class="gp"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                            <p class="trend clear">Trending</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="ikebe_user.html"><img src="~/images/slider1.jpg" alt="user1 | Click to View Profile" width="258" height="353"></a>
                            <ul class="counter clear"><li><p class="vote">Vote</p></li><li><p class="tally">1598</p></li></ul>
                            <ul class="social">
                                <li class="fb"><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li class="tw"><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li class="gp"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                            <p class="hot clear">Top</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="ikebe_user.html"><img src="~/images/slider2.jpg" alt="user1 | Click to View Profile" width="258" height="353"></a>
                            <ul class="counter clear"><li><p class="voted">Voted</p></li><li><p class="tally">1450</p></li></ul>
                            <ul class="social">
                                <li class="fb"><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li class="tw"><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li class="gp"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                            <p class="trend clear">Trending</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="xtras-wrap">
                <div id="form-wrap">
                    <div id="caption"><p> --- Enter Contest --- </p></div>
                    <div id="reg-form">
                        <form action="#">
                            <input id="tag" type="text" placeholder="Image Title" required="required" name="tag"><br>
                            <div class="upload dropzone"><input id="upload" type="file" required="required" name="img"></div><br>
                            <div class="check">
                                <ul>
                                    <li>
                                        <div class="agree">
                                            <input id="agree" type="checkbox" required="required" name="check" />
                                            <label for="agree"></label>
                                        </div>
                                    </li>
                                    <li><p class="terms">I have read and agree with IkebeSuper’s <a href="terms.html">Terms and Conditions</a></p></li>
                                </ul>
                            </div>
                            <div class="submit">
                                <ul>
                                    <li><input type="submit" value="Submit"></li>
                                    <li><input type="reset" value="Cancel"></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="ad300">
                    <img src="~/images/300ad.jpg" alt="Advertisement" width="300">
                </div>
                <!-- COMMENT-BOX -->
                <div class="c-wrap">
                    <div id="commentary">
                        <div class="light">
                            <div class="row">
                                <div class="p50c">
                                    <h3 class="name">Bimpe Osewa</h3>
                                </div>
                                <div class="p50c">
                                    <div class="react">
                                        <ul>
                                            <li class="like-on"><a href="#"></a></li>
                                            <li><p class="l-tally">123</p></li>
                                            <li class="dislike"><a href="#"></a></li>
                                            <li><p class="dl-tally">9</p></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p class="comment-body">See me see wahala. And I was here thinking my backside pass normal. What I am seeing here is more than interesting :D</p>
                            </div>
                        </div>
                        <div class="dark">
                            <div class="row">
                                <div class="p50c">
                                    <h3 class="name">Ebele Godwin</h3>
                                </div>
                                <div class="p50c">
                                    <div class="react">
                                        <ul>
                                            <li class="like"><a href="#"></a></li>
                                            <li><p class="l-tally">50</p></li>
                                            <li class="dislike"><a href="#"></a></li>
                                            <li><p class="dl-tally">2</p></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p class="comment-body">Ojigbijigbi!!! :D I am enjoying myself as I dey browse through all these endowed ikebes :) Guys wey get correct eye know say this ikebe should win :)</p>
                            </div>
                        </div>
                        <div class="light">
                            <div class="row">
                                <div class="p50c">
                                    <h3 class="name">Bimpe Osewa</h3>
                                </div>
                                <div class="p50c">
                                    <div class="react">
                                        <ul>
                                            <li class="like"><a href="#"></a></li>
                                            <li><p class="l-tally">145</p></li>
                                            <li class="dislike-on"><a href="#"></a></li>
                                            <li><p class="dl-tally">50</p></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p class="comment-body">See me see wahala. And I was here thinking my backside pass normal. What I am seeing here is more than interesting :D</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form id="comment" method="post" action="#" role="form">
                            <input type="text" id="cbox" name="Comment" class="form-ctrl" placeholder="Add Comment.." />
                        </form>
                    </div>
                </div>
                <!-- COMMENT-BOX END -->
            </div> <!-- XTRAS END -->
        </div> <!-- CONTENT END -->
        <div class="clear"></div>
        <footer>
            <ul class="social-md">
                <li class="fb"><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li class="tw"><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li class="gp"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                <li class="ig"><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
        </footer>
    </div>
    <!-- PAGE WRAPPER END -->
    <script src="js/script.js"></script>
</body>
</html>