@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Indigo 99 | Past Winners |</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/reset.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="all and (orientation: portrait)" type="text/css" href="css/portrait.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/js/lightslider.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/lightslider.css">

    <style>
        .vertical {
            height: auto;
        }

        #album {
            top: 0;
        }

        .u-badge + .usp > p {
            float: right;
            padding: 5px 20px 0;
            width: 65%;
            height: 240px;
            overflow-y: scroll;
        }

        .pastw {
            position: relative;
            top: 4px;
            width: 261px;
            float: right;
            padding: 5px 0 5px 5px;
        }

            .pastw > li {
                font-family: Questrial;
                margin-left: 15px;
            }

        li.cat {
            font-weight: 600;
            text-align: right;
        }

        li.puser {
            width: 240px;
            text-align: right;
        }
    </style>
</head>

<body>
    <!-- PAGE WRAPPER -->
    <div id="page-wrapper" class="container">
        <header>
            <nav class="secondary">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li>
                        <a href="#">Contests</a>
                        <ul class="drop">
                            <li><a href="ikebe.html">Ikebe Super</a></li>
                            <li><a href="mean.html">Mean Look</a></li>
                            <li><a href="hair.html">Hair</a></li>
                            <li><a href="makeup.html">Makeup</a></li>
                            <li><a href="gele.html">Gele</a></li>
                        </ul>
                    </li>
                    <li><a href="past.html">Past Winners</a></li>
                    <li><a href="gist.html">Gist</a></li>
                </ul>
            </nav>
        </header>
        <!-- HEADER END -->

        <div id="content">

            <section class="vertical land">
                <img src="images/all.jpg" alt="Past Winners">
                <div class="tape"><span>Past Winners</span></div>
                <p>  An exquisite selection of our past winners !</p>
            </section>

            <section class="banner port">
                <div class="u-badge">
                    <img src="images/all.jpg" alt="Past Winners">
                    <div class="tape"><span>Past Winners</span></div>
                </div>
                <div class="usp">
                    <p>  An exquisite selection of our past winners !</p>
                </div>
            </section>

            <div id="album-wrap" class="row">
                <div id="album" class="col-xs-12 col-sm-8 clear">
                    <ul id="lightSlider">
                        <li data-thumb="images/thumb/ike-ut.jpg">
                            <img src="images/ikebe-user-lg.jpg" alt="slide1" class="img-responsive">
                            <div class="clear">
                                <ul class="counter"><li><p class="vote">Votes:</p></li><li><p class="tally">1598</p></li></ul>
                                <ul class="pastw">
                                    <li class="cat">Ikebe Super Contest Winner </li>
                                    <li class="puser">< User Name ></li>
                                </ul>
                            </div>
                        </li>
                        <li data-thumb="images/thumb/mean-ut.jpg">
                            <img src="images/m-user-lg.jpg" alt="slide1" class="img-responsive">
                            <div class="clear">
                                <ul class="counter"><li><p class="vote">Votes:</p></li><li><p class="tally">1598</p></li></ul>
                                <ul class="pastw">
                                    <li class="cat">Mean Look Contest Winner </li>
                                    <li class="puser">< User Name ></li>
                                </ul>
                            </div>
                        </li>
                        <li data-thumb="images/thumb/gele-ut.jpg">
                            <img src="images/gele-user-lg.jpg" alt="slide1" class="img-responsive">
                            <div class="clear">
                                <ul class="counter"><li><p class="vote">Votes:</p></li><li><p class="tally">1598</p></li></ul>
                                <ul class="pastw">
                                    <li class="cat">Gele Contest Winner </li>
                                    <li class="puser">< User Name ></li>
                                </ul>
                            </div>
                        </li>
                        <li data-thumb="images/thumb/mak-ut.jpg">
                            <img src="images/mak-user-lg.jpg" alt="slide1" class="img-responsive">
                            <div class="clear">
                                <ul class="counter"><li><p class="vote">Votes:</p></li><li><p class="tally">1598</p></li></ul>
                                <ul class="pastw">
                                    <li class="cat">Makeup Contest Winner </li>
                                    <li class="puser">< User Name ></li>
                                </ul>
                            </div>
                        </li>
                        <li data-thumb="images/thumb/hair-ut.jpg">
                            <img src="images/hair-user-lg.jpg" alt="slide1" class="img-responsive">
                            <div class="clear">
                                <ul class="counter"><li><p class="vote">Votes:</p></li><li><p class="tally">1598</p></li></ul>
                                <ul class="pastw">
                                    <li class="cat">Hair Contest Winner </li>
                                    <li class="puser">< User Name ></li>
                                </ul>
                            </div>
                        </li>
                        <li data-thumb="images/thumb/ike-ut.jpg">
                            <img src="images/ikebe-user-lg.jpg" alt="slide1" class="img-responsive">
                            <div class="clear">
                                <ul class="counter"><li><p class="vote">Votes:</p></li><li><p class="tally">1598</p></li></ul>
                                <ul class="pastw">
                                    <li class="cat">Ikebe Super Contest Winner </li>
                                    <li class="puser">< User Name ></li>
                                </ul>
                            </div>
                        </li>
                        <li data-thumb="images/thumb/mean-ut.jpg">
                            <img src="images/m-user-lg.jpg" alt="slide1" class="img-responsive">
                            <div class="clear">
                                <ul class="counter"><li><p class="vote">Votes:</p></li><li><p class="tally">1598</p></li></ul>
                                <ul class="pastw">
                                    <li class="cat">Mean Look Contest Winner </li>
                                    <li class="puser">< User Name ></li>
                                </ul>
                            </div>
                        </li>
                        <li data-thumb="images/thumb/gele-ut.jpg">
                            <img src="images/gele-user-lg.jpg" alt="slide1" class="img-responsive">
                            <div class="clear">
                                <ul class="counter"><li><p class="vote">Votes:</p></li><li><p class="tally">1598</p></li></ul>
                                <ul class="pastw">
                                    <li class="cat">Gele Contest Winner </li>
                                    <li class="puser">< User Name ></li>
                                </ul>
                            </div>
                        </li>
                        <li data-thumb="images/thumb/mak-ut.jpg">
                            <img src="images/mak-user-lg.jpg" alt="slide1" class="img-responsive">
                            <div class="clear">
                                <ul class="counter"><li><p class="vote">Votes:</p></li><li><p class="tally">1598</p></li></ul>
                                <ul class="pastw">
                                    <li class="cat">Makeup Contest Winner </li>
                                    <li class="puser">< User Name ></li>
                                </ul>
                            </div>
                        </li>
                        <li data-thumb="images/thumb/hair-ut.jpg">
                            <img src="images/hair-user-lg.jpg" alt="slide1" class="img-responsive">
                            <div class="clear">
                                <ul class="counter"><li><p class="vote">Votes:</p></li><li><p class="tally">1598</p></li></ul>
                                <ul class="pastw">
                                    <li class="cat">Hair Contest Winner </li>
                                    <li class="puser">< User Name ></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="adv600 col-xs-12 col-sm-4"><img src="images/ad600mak.jpg" alt="Advertisement" width="300" height="600" class="img-responsive"></div>
            </div>
        </div>

        <div class="clear"></div>
        <footer>
            <ul class="social-md">
                <li class="fb"><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li class="tw"><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li class="gp"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                <li class="ig"><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
        </footer>
    </div>

    <script src="js/lSlide.js"></script>

</body>
</html>