@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Indigo 99 | Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/reset.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="all and (orientation: portrait)" type="text/css" href="~/css/portrait.css">
    <link rel="stylesheet" type="text/css" href="~/css/modal.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/js/jquery.omniwindow.js"></script>
</head>
<body>
    <div id="page-wrapper" class="container">
        <header class="row">
            <div class="col-xs-6 col-md-4">
                <form id="search" method="get" action="#" role="form">
                    <input type="search" id="search-text" class="search form-control" placeholder="Search.." />
                </form>
            </div>
            <div class="col-md-3"></div>
            <div class="col-xs-6 col-md-5">
                <nav class="navbar">
                    <ul>
                        <li><a href="/PastWinners">Past Winners</a></li>
                        <li><a href="/Gist">WetinHappen</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="content" class="row">
            <div class="col-xs-12 col-sm-7">
                <div class="row">
                    <section class="wrap">
                        <div class="col-xs-12"><h2 class="line1"> Enter any of the </h2></div>
                        <div class="col-xs-12"><h2 class="line2"> 5 Contests </h2></div>
                        <div id="splash" class="col-xs-12 clear">
                            <div class="row">
                                <div class="col-xs-4">&nbsp;</div>
                                <div class="w120 col-xs-4">
                                    <a href="/Ikebe">
                                        <img src="~/images/kim.jpg" alt="Ikebe Super" class="img-responsive">
                                        <div class="desc"><p>IKEBE SUPER CONTEST</p></div>
                                    </a>
                                </div>
                                <div class="col-xs-4">&nbsp;</div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="w120 col-xs-4">
                                    <a href="/Mean" >
                                        <img src="~/images/isa.jpg" alt="Mean Look" class="img-responsive">
                                        <div class="desc"><p>MEAN LOOK CONTEST</p></div>
                                    </a>
                                </div>
                                <div class="w120 col-xs-4"><img src="~/images/naira.png" id="naira-logo" alt="Naira" class="img-responsive"></div>
                                <div class="w120 col-xs-4">
                                    <a href="/Gele" >
                                        <img src="~/images/gele.jpg" alt="Gele Headtie" class="img-responsive">
                                        <div class="desc"><p>GELE CONTEST</p></div>
                                    </a>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="w120 col-xs-1"></div>
                                <div class="w120 col-xs-4">
                                    <a href="/Hair" >
                                        <img src="~/images/hair.jpg" alt="Hairstyle" class="img-responsive">
                                        <div class="desc"><p>HAIR CONTEST</p></div>
                                    </a>
                                </div>
                                <div class="w120 col-xs-2"></div>
                                <div class="w120 col-xs-4">
                                    <a href="/MakeUp" >
                                        <img src="~/images/makeup.jpg" alt="Makeup" class="img-responsive">
                                        <div class="desc"><p>MAKEUP CONTEST</p></div>
                                    </a>
                                    <div class="w120 col-xs-1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12"><h2 class="line3"> Win 1,500 Naira Recharge Card </h2></div>
                        <div class="col-xs-12"><h2 class="line4"> on any Network!!! </h2></div>
                    </section>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <aside>
                    <div class="trivia">
                        <p>The splendor of Nigeria lies within its people. Beautiful sites like the Agbokim waterfalls, Obudu Mountains and Aso Rock reveal some of its grandeur but the grandest site to behold remains the Nigerian man and the Nigerian woman.</p>
                        <p>The Nigerian man has power, strength and pride in his walk, his talk and his stance. His face is filled with dignity and demands respect. The Nigerian woman is graceful. She is strong. Effusive and yet able to send a thousand messages with one glace. Beauty is seen from the top of her head to the sole of her feet. Ikebe Super is a celebration of the beauty of the Nigerian man and the Nigerian woman. Ikebe Super highlights this beauty in five major areas.</p>
                        <br>
                    </div>
                    <div class="wetin">
                        <h3>WetinHappen?</h3>
                        <p>The Nigerian man has power, strength and pride in his walk, his talk and his stance. His face is filled with dignity and demands respect. The Nigerian woman is graceful. She is strong. Effusive and yet able to send a thousand messages with one glace. Beauty is seen from the top of her head to the sole of her feet. Ikebe Super is a celebration of the beauty of the Nigerian man and the Nigerian woman. Ikebe Super highlights this beauty in five major areas.</p>
                    </div>
                </aside>
            </div>
        </div>
        <div class="clear"></div>
        <!-- MODAL UNIT -->
     
    </div>

    <script>
        jQuery(document).ready(function () {
            jQuery("input").each(function () {
                jQuery(this).data('holder', jQuery(this).attr('placeholder'));

                jQuery(this).focusin(function () {
                    jQuery(this).attr('placeholder', '');
                });

                jQuery(this).focusout(function () {
                    jQuery(this).attr('placeholder', jQuery(this).data('holder'));
                });
            });
        });
    </script>
</body>
</html>