@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Indigo 99 | Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/reset.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="all and (orientation: portrait)" type="text/css" href="~/css/portrait.css">
    <link rel="stylesheet" type="text/css" href="~/css/modal.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/js/jquery.omniwindow.js"></script>
</head>
<body>
    <div id="page-wrapper" class="container">
        <header class="row">
            <div class="col-xs-6 col-md-4">
                <form id="search" method="get" action="#" role="form">
                    <input type="search" id="search-text" class="search form-control" placeholder="Search.." />
                </form>
            </div>
            <div class="col-md-3"></div>
            <div class="col-xs-6 col-md-5">
                <nav class="navbar">
                    <ul>
                        <li><a href="/PastWinners">Past Winners</a></li>
                        <li><a href="/Gist">WetinHappen</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="content" class="row">
            <div class="col-xs-12 col-sm-7">
                <div class="row">
                    <section class="wrap">
                        <div class="col-xs-12"><h2 class="line1"> Enter any of the </h2></div>
                        <div class="col-xs-12"><h2 class="line2"> 5 Contests </h2></div>
                        <div id="splash" class="col-xs-12 clear">
                            <div class="row">
                                <div class="col-xs-4">&nbsp;</div>
                                <div class="w120 col-xs-4">
                                    <a href="#" class="pop">
                                        <img src="~/images/kim.jpg" alt="Ikebe Super" class="img-responsive">
                                        <div class="desc"><p>IKEBE SUPER CONTEST</p></div>
                                    </a>
                                </div>
                                <div class="col-xs-4">&nbsp;</div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="w120 col-xs-4">
                                    <a href="#" class="pop">
                                        <img src="~/images/isa.jpg" alt="Mean Look" class="img-responsive">
                                        <div class="desc"><p>MEAN LOOK CONTEST</p></div>
                                    </a>
                                </div>
                                <div class="w120 col-xs-4"><img src="~/images/naira.png" id="naira-logo" alt="Naira" class="img-responsive"></div>
                                <div class="w120 col-xs-4">
                                    <a href="#" class="pop">
                                        <img src="~/images/gele.jpg" alt="Gele Headtie" class="img-responsive">
                                        <div class="desc"><p>GELE CONTEST</p></div>
                                    </a>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="w120 col-xs-1"></div>
                                <div class="w120 col-xs-4">
                                    <a href="#" class="pop">
                                        <img src="~/images/hair.jpg" alt="Hairstyle" class="img-responsive">
                                        <div class="desc"><p>HAIR CONTEST</p></div>
                                    </a>
                                </div>
                                <div class="w120 col-xs-2"></div>
                                <div class="w120 col-xs-4">
                                    <a href="#" class="pop">
                                        <img src="~/images/makeup.jpg" alt="Makeup" class="img-responsive">
                                        <div class="desc"><p>MAKEUP CONTEST</p></div>
                                    </a>
                                    <div class="w120 col-xs-1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12"><h2 class="line3"> Win 1,500 Naira Recharge Card </h2></div>
                        <div class="col-xs-12"><h2 class="line4"> on any Network!!! </h2></div>
                    </section>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <aside>
                    <div class="trivia">
                        <p>The splendor of Nigeria lies within its people. Beautiful sites like the Agbokim waterfalls, Obudu Mountains and Aso Rock reveal some of its grandeur but the grandest site to behold remains the Nigerian man and the Nigerian woman.</p>
                        <p>The Nigerian man has power, strength and pride in his walk, his talk and his stance. His face is filled with dignity and demands respect. The Nigerian woman is graceful. She is strong. Effusive and yet able to send a thousand messages with one glace. Beauty is seen from the top of her head to the sole of her feet. Ikebe Super is a celebration of the beauty of the Nigerian man and the Nigerian woman. Ikebe Super highlights this beauty in five major areas.</p>
                        <br>
                    </div>
                    <div class="wetin">
                        <h3>WetinHappen?</h3>
                        <p>The Nigerian man has power, strength and pride in his walk, his talk and his stance. His face is filled with dignity and demands respect. The Nigerian woman is graceful. She is strong. Effusive and yet able to send a thousand messages with one glace. Beauty is seen from the top of her head to the sole of her feet. Ikebe Super is a celebration of the beauty of the Nigerian man and the Nigerian woman. Ikebe Super highlights this beauty in five major areas.</p>
                    </div>
                </aside>
            </div>
        </div>
        <div class="clear"></div>
        <!-- MODAL UNIT -->
        <div class="overlay hidden"></div>
        <div class="imodal hidden">
            <a class='mclose' href='#'></a>
            <h3> Log In or Sign Up to continue.. </h3>
            <div class="sl-wrap">
                <ul class="social-login">
                    <li class="ik bttn1"><a href="#"><i class="fa fa-sign-in fa-lg"></i><span>Log In / Sign Up</span></a></li>
                    @*<li class="fb bttn2"><a href="#"><i class="fa fa-facebook fa-lg"></i><span>Login with facebook</span></a></li>*@
                </ul>
            </div>
            <div class="tabs">

                <ul class="tab-btn">
                    <li class="active"><a href="#tab1">Log In</a></li>
                    <li><a href="#tab2">Sign Up</a></li>
                </ul>
                <div class="line"></div>
                <div class="tab-content">
                    <div id="tab1" class="tab active">
                        <form action="#"  id="reg">
                            <input class="email" type="email" placeholder="Email Address" required="required" name="email" id="loginemail"><br>
                            <input class="password" type="password" placeholder="Password" required="required" name="passWord" id="loginpwd"><br>
                            <div class="check">
                                <ul>
                                    <li>
                                        <div class="sign">
                                            <input id="remember" type="checkbox" required="required" name="check" />
                                            <label for="remember"></label>
                                        </div>
                                    </li>
                                    <li><p class="cookie">Remember Me</p></li>
                                </ul>
                            </div>
                            <div id="loginfailed" style="color: red"></div>
                            <div class="login">
                                <ul>
                                    <li><input type="submit" value="Log In" id="logInButton"></li>
                                    <li><input type="reset" value="Cancel"></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div id="tab2" class="tab">
                        <form action="/Registration/Register">
                            <div class="fsname">
                                <input class="fname" type="text" placeholder="First Name" required="required" name="firstname">
                                <input class="sname" type="text" placeholder="Surname" required="required" name="lastname">
                            </div>
                            <div class="date">
                                <input class="day" type="number" placeholder="DD" min="01" max="31" required="required" name="day">
                                <input class="month" type="number" placeholder="MM" min="01" max="12" required="required" name="month">
                                <input class="year" type="number" maxlength="4" placeholder="YYYY" min="1955" max="2000" required="required" name="year">
                            </div>
                            <input class="email" type="email" placeholder="Email Address" required="required" name="email"><br>
                            <input class="password" type="password" placeholder="Enter Password" required="required" name="password"><br>
                            <div class="check">
                                <ul>
                                    <li>
                                        <div class="sign">
                                            <input id="sign" type="checkbox" required="required" name="check" />
                                            <label for="sign"></label>
                                        </div>
                                    </li>
                                    <li><p class="cookie">I have read and agree with IkebeSuper’s Terms and Conditions</p></li>
                                </ul>
                            </div>
                            <div class="login">
                                <ul>
                                    <li><input type="submit" value="Register"></li>
                                    <li><input type="reset" value="Cancel"></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL UNIT END -->
        <footer>
            <ul class="social-md">
                <li class="fb"><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li class="tw"><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li class="gp"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                <li class="ig"><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
        </footer>
    </div>

    <script>
        jQuery(document).ready(function () {
            jQuery("input").each(function () {
                jQuery(this).data('holder', jQuery(this).attr('placeholder'));

                jQuery(this).focusin(function () {
                    jQuery(this).attr('placeholder', '');
                });

                jQuery(this).focusout(function () {
                    jQuery(this).attr('placeholder', jQuery(this).data('holder'));
                });
            });
        });
    </script>
    <script>
        $(function () {
            var $modal = $('div.imodal').omniWindow({
                overlay: {
                    selector: '.overlay',
                    hideClass: 'hidden',
                    animations: {
                        show: function (subjects, internalCallback) {
                            subjects.overlay.fadeIn(250, function () {
                                internalCallback(subjects); // call internal callback AFTER jQuery animations will stop
                            })
                        },
                        hide: function (subjects, internalCallback) {
                            subjects.overlay.fadeOut(250, function () {
                                internalCallback(subjects);
                            })
                        }
                    }
                },
                modal: {
                    hideClass: 'hidden'
                }
            });
            $('div.imodal a.mclose').click(function (e) {
                e.preventDefault();
                $modal.trigger('hide');
            });
            $('a.pop').click(function (e) {
                e.preventDefault();
                $modal.trigger('show');
            });
        });
    </script>
    <script>

        var modal = $('div.imodal');
        var forms = $('div.tabs');
        var heading = $('.imodal h3');

        $('.bttn1').click(function (e) {
            e.preventDefault();
            $('.bttn1').css({ display: 'none' });
            heading.animate({ fontSize: 18, marginBottom: 10 }, { duration: 300, queue: true });
            modal.animate({ top: 24, width: 300, height: 600, paddingTop: 30 },
               {
                   duration: 300, queue: true, complete: function () {
                       forms.css({ display: 'block' });
                       $('.sl-wrap').css({ borderBottom: '1px dashed #ffffff' });
                       $('.tab-content').css({ display: 'block' });
                   }
               });
        });

    </script>
    <script>
        jQuery(document).ready(function () {
            jQuery('.tabs .tab-btn a').on('click', function (e) {
                var currentAttrValue = jQuery(this).attr('href');

                // Show/Hide Tabs
                jQuery('.tabs ' + currentAttrValue).show().siblings().hide();

                // Change/remove current tab to active
                jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

                e.preventDefault();
            });

            jQuery('#logInButton').on('click', function (e) {
                e.preventDefault();
                $.ajax({
					    url: "/LogIn/TryLogIn",
					    type: "post",
					    dataType: "json",
					    data: { email: $('#loginemail').val(), passWord: $('#loginpwd').val() },
					    error: function () {
					     
					        $("#loginfailed").html("LogIn failed. bad Username or Password");
					    },

					    success: function (strData) {
					        $('div.imodal a.mclose').trigger('click');
					        location.reload();
					    }
					} );

            });


        });

    </script>
</body>
</html>